<h1>Listing spin_domains</h1>

<table>
  <tr>
    <th>Spin did</th>
    <th>Spin domain name</th>
    <th>Spin domain root</th>
    <th>Domain descr</th>
    <th>Domain atrtributes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spin_domains.each do |spin_domain| %>
  <tr>
    <td><%= spin_domain.spin_did %></td>
    <td><%= spin_domain.spin_domain_name %></td>
    <td><%= spin_domain.spin_domain_root %></td>
    <td><%= spin_domain.domain_descr %></td>
    <td><%= spin_domain.domain_atrtributes %></td>
    <td><%= link_to 'Show', spin_domain %></td>
    <td><%= link_to 'Edit', edit_spin_domain_path(spin_domain) %></td>
    <td><%= link_to 'Destroy', spin_domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spin domain', new_spin_domain_path %>
