<%= form_for(@spin_storage) do |f| %>
  <% if @spin_storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spin_storage.errors.count, "error") %> prohibited this spin_storage from being saved:</h2>

      <ul>
      <% @spin_storage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :storage_server %><br />
    <%= f.text_field :storage_server %>
  </div>
  <div class="field">
    <%= f.label :storage_root %><br />
    <%= f.text_field :storage_root %>
  </div>
  <div class="field">
    <%= f.label :mapping_logic %><br />
    <%= f.text_field :mapping_logic %>
  </div>
  <div class="field">
    <%= f.label :storage_max_size %><br />
    <%= f.number_field :storage_max_size %>
  </div>
  <div class="field">
    <%= f.label :storage_attributes %><br />
    <%= f.text_area :storage_attributes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
