<h1>Listing spin_vfs_tree_mappings</h1>

<table>
  <tr>
    <th>Spin vfs</th>
    <th>Spin node tree</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spin_vfs_tree_mappings.each do |spin_vfs_tree_mapping| %>
  <tr>
    <td><%= spin_vfs_tree_mapping.spin_vfs %></td>
    <td><%= spin_vfs_tree_mapping.spin_node_tree %></td>
    <td><%= link_to 'Show', spin_vfs_tree_mapping %></td>
    <td><%= link_to 'Edit', edit_spin_vfs_tree_mapping_path(spin_vfs_tree_mapping) %></td>
    <td><%= link_to 'Destroy', spin_vfs_tree_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spin vfs tree mapping', new_spin_vfs_tree_mapping_path %>
