<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @file_datum.session_id %>
</p>

<p>
  <b>Hash key:</b>
  <%= @file_datum.hash_key %>
</p>

<p>
  <b>Cont location:</b>
  <%= @file_datum.cont_location %>
</p>

<p>
  <b>File name:</b>
  <%= @file_datum.file_name %>
</p>

<p>
  <b>File type:</b>
  <%= @file_datum.file_type %>
</p>

<p>
  <b>File size:</b>
  <%= @file_datum.file_size %>
</p>

<p>
  <b>File version:</b>
  <%= @file_datum.file_version %>
</p>

<p>
  <b>Url:</b>
  <%= @file_datum.url %>
</p>

<p>
  <b>Thumbnail image:</b>
  <%= @file_datum.thumbnail_image %>
</p>

<p>
  <b>Created date:</b>
  <%= @file_datum.created_date %>
</p>

<p>
  <b>Creator:</b>
  <%= @file_datum.creator %>
</p>

<p>
  <b>Modified date:</b>
  <%= @file_datum.modified_date %>
</p>

<p>
  <b>Modifier:</b>
  <%= @file_datum.modifier %>
</p>

<p>
  <b>Owner:</b>
  <%= @file_datum.owner %>
</p>

<p>
  <b>Ownership:</b>
  <%= @file_datum.ownership %>
</p>

<p>
  <b>Control right:</b>
  <%= @file_datum.control_right %>
</p>

<p>
  <b>Lock:</b>
  <%= @file_datum.lock %>
</p>

<p>
  <b>Id lc by:</b>
  <%= @file_datum.id_lc_by %>
</p>

<p>
  <b>Name lc by:</b>
  <%= @file_datum.name_lc_by %>
</p>

<p>
  <b>Dirty:</b>
  <%= @file_datum.dirty %>
</p>

<p>
  <b>Keyword:</b>
  <%= @file_datum.keyword %>
</p>

<p>
  <b>Description:</b>
  <%= @file_datum.description %>
</p>

<p>
  <b>File exact size:</b>
  <%= @file_datum.file_exact_size %>
</p>

<p>
  <b>Icon image:</b>
  <%= @file_datum.icon_image %>
</p>

<p>
  <b>Title:</b>
  <%= @file_datum.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @file_datum.subtitle %>
</p>

<p>
  <b>Frame size:</b>
  <%= @file_datum.frame_size %>
</p>

<p>
  <b>Duration:</b>
  <%= @file_datum.duration %>
</p>

<p>
  <b>Producer:</b>
  <%= @file_datum.producer %>
</p>

<p>
  <b>Produced date:</b>
  <%= @file_datum.produced_date %>
</p>

<p>
  <b>Location:</b>
  <%= @file_datum.location %>
</p>

<p>
  <b>Client:</b>
  <%= @file_datum.client %>
</p>

<p>
  <b>Copyright:</b>
  <%= @file_datum.copyright %>
</p>

<p>
  <b>Portrait right:</b>
  <%= @file_datum.portrait_right %>
</p>

<p>
  <b>Access group:</b>
  <%= @file_datum.access_group %>
</p>

<p>
  <b>File readable status:</b>
  <%= @file_datum.file_readable_status %>
</p>

<p>
  <b>File writable status:</b>
  <%= @file_datum.file_writable_status %>
</p>

<p>
  <b>Open status:</b>
  <%= @file_datum.open_status %>
</p>

<p>
  <b>Folder hash key:</b>
  <%= @file_datum.folder_hash_key %>
</p>

<p>
  <b>Folder readable status:</b>
  <%= @file_datum.folder_readable_status %>
</p>

<p>
  <b>Folder writable status:</b>
  <%= @file_datum.folder_writable_status %>
</p>

<p>
  <b>Details:</b>
  <%= @file_datum.details %>
</p>


<%= link_to 'Edit', edit_file_datum_path(@file_datum) %> |
<%= link_to 'Back', file_data_path %>
