<h1>Listing spin_group_members</h1>

<table>
  <tr>
    <th>Spin uid</th>
    <th>Spin gid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spin_group_members.each do |spin_group_member| %>
  <tr>
    <td><%= spin_group_member.spin_uid %></td>
    <td><%= spin_group_member.spin_gid %></td>
    <td><%= link_to 'Show', spin_group_member %></td>
    <td><%= link_to 'Edit', edit_spin_group_member_path(spin_group_member) %></td>
    <td><%= link_to 'Destroy', spin_group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spin group member', new_spin_group_member_path %>
