<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @folder_datum.session_id %>
</p>

<p>
  <b>Hash key:</b>
  <%= @folder_datum.hash_key %>
</p>

<p>
  <b>Cont location:</b>
  <%= @folder_datum.cont_location %>
</p>

<p>
  <b>Id:</b>
  <%= @folder_datum.id %>
</p>

<p>
  <b>Img:</b>
  <%= @folder_datum.img %>
</p>

<p>
  <b>Text:</b>
  <%= @folder_datum.text %>
</p>

<p>
  <b>Folder name:</b>
  <%= @folder_datum.folder_name %>
</p>

<p>
  <b>Owner:</b>
  <%= @folder_datum.owner %>
</p>

<p>
  <b>Ownership:</b>
  <%= @folder_datum.ownership %>
</p>

<p>
  <b>Control right:</b>
  <%= @folder_datum.control_right %>
</p>

<p>
  <b>Parent readable status:</b>
  <%= @folder_datum.parent_readable_status %>
</p>

<p>
  <b>Parent writable status:</b>
  <%= @folder_datum.parent_writable_status %>
</p>

<p>
  <b>Folder readable status:</b>
  <%= @folder_datum.folder_readable_status %>
</p>

<p>
  <b>Folder writable status:</b>
  <%= @folder_datum.folder_writable_status %>
</p>

<p>
  <b>Workingfolder:</b>
  <%= @folder_datum.workingFolder %>
</p>

<p>
  <b>Subfolders:</b>
  <%= @folder_datum.subFolders %>
</p>

<p>
  <b>Filenumber:</b>
  <%= @folder_datum.fileNumber %>
</p>

<p>
  <b>Creator:</b>
  <%= @folder_datum.creator %>
</p>

<p>
  <b>Created date:</b>
  <%= @folder_datum.created_date %>
</p>

<p>
  <b>Updater:</b>
  <%= @folder_datum.updater %>
</p>

<p>
  <b>Updated date:</b>
  <%= @folder_datum.updated_date %>
</p>

<p>
  <b>Usedspace:</b>
  <%= @folder_datum.usedSpace %>
</p>

<p>
  <b>Restspace:</b>
  <%= @folder_datum.restSpace %>
</p>

<p>
  <b>Capacity:</b>
  <%= @folder_datum.capacity %>
</p>

<p>
  <b>Usedrate:</b>
  <%= @folder_datum.usedRate %>
</p>

<p>
  <b>Cls:</b>
  <%= @folder_datum.cls %>
</p>

<p>
  <b>Expanded:</b>
  <%= @folder_datum.expanded %>
</p>

<p>
  <b>Leaf:</b>
  <%= @folder_datum.leaf %>
</p>

<p>
  <b>Children:</b>
  <%= @folder_datum.children %>
</p>


<%= link_to 'Edit', edit_folder_datum_path(@folder_datum) %> |
<%= link_to 'Back', folder_data_path %>
