<p id="notice"><%= notice %></p>

<p>
  <b>Pane domains a:</b>
  <%= @user_interface_manager.pane_domains_a %>
</p>

<p>
  <b>Pane domains b:</b>
  <%= @user_interface_manager.pane_domains_b %>
</p>

<p>
  <b>Pane folders a:</b>
  <%= @user_interface_manager.pane_folders_a %>
</p>

<p>
  <b>Pane folders b:</b>
  <%= @user_interface_manager.pane_folders_b %>
</p>

<p>
  <b>Pane file list a:</b>
  <%= @user_interface_manager.pane_file_list_a %>
</p>

<p>
  <b>Pane file list b:</b>
  <%= @user_interface_manager.pane_file_list_b %>
</p>

<p>
  <b>Pane file list s:</b>
  <%= @user_interface_manager.pane_file_list_s %>
</p>

<p>
  <b>Pane folders at:</b>
  <%= @user_interface_manager.pane_folders_at %>
</p>

<p>
  <b>Pane folders bt:</b>
  <%= @user_interface_manager.pane_folders_bt %>
</p>

<p>
  <b>Pane groupo list all:</b>
  <%= @user_interface_manager.pane_groupo_list_all %>
</p>

<p>
  <b>Pane group list created:</b>
  <%= @user_interface_manager.pane_group_list_created %>
</p>

<p>
  <b>Pane group list file:</b>
  <%= @user_interface_manager.pane_group_list_file %>
</p>

<p>
  <b>Pane group list folder:</b>
  <%= @user_interface_manager.pane_group_list_folder %>
</p>

<p>
  <b>Pane mail senders:</b>
  <%= @user_interface_manager.pane_mail_senders %>
</p>

<p>
  <b>Pane member list mygroup:</b>
  <%= @user_interface_manager.pane_member_list_mygroup %>
</p>

<p>
  <b>Pane recycler:</b>
  <%= @user_interface_manager.pane_recycler %>
</p>

<p>
  <b>Pane search conditions:</b>
  <%= @user_interface_manager.pane_search_conditions %>
</p>

<p>
  <b>Pane search option:</b>
  <%= @user_interface_manager.pane_search_option %>
</p>

<p>
  <b>Pane working files:</b>
  <%= @user_interface_manager.pane_working_files %>
</p>

<p>
  <b>Pane clipboards:</b>
  <%= @user_interface_manager.pane_clipboards %>
</p>

<%= link_to 'Edit', edit_user_interface_manager_path(@user_interface_manager) %> |
<%= link_to 'Back', user_interface_managers_path %>
