<p id="notice"><%= notice %></p>

<p>
  <b>Spin session:</b>
  <%= @spin_session.spin_session %>
</p>

<p>
  <b>Session status:</b>
  <%= @spin_session.session_status %>
</p>

<p>
  <b>Session expire:</b>
  <%= @spin_session.session_expire %>
</p>

<p>
  <b>Spin uid:</b>
  <%= @spin_session.spin_uid %>
</p>

<p>
  <b>Spin uname:</b>
  <%= @spin_session.spin_uname %>
</p>

<p>
  <b>Spin login time:</b>
  <%= @spin_session.spin_login_time %>
</p>

<p>
  <b>Spin last login:</b>
  <%= @spin_session.spin_last_login %>
</p>

<p>
  <b>Spin last logout:</b>
  <%= @spin_session.spin_last_logout %>
</p>

<p>
  <b>Spin session data:</b>
  <%= @spin_session.spin_session_data %>
</p>

<p>
  <b>Spin search condition:</b>
  <%= @spin_session.spin_search_condition_id %>
</p>

<p>
  <b>Spin search option:</b>
  <%= @spin_session.spin_search_option_id %>
</p>

<p>
  <b>Spin domaindata a:</b>
  <%= @spin_session.spin_domaindata_A_id %>
</p>

<p>
  <b>Spin domaindata b:</b>
  <%= @spin_session.spin_domaindata_B_id %>
</p>

<p>
  <b>Spin filedata:</b>
  <%= @spin_session.spin_filedata_id %>
</p>

<p>
  <b>Spin folderdata a:</b>
  <%= @spin_session.spin_folderdata_A_id %>
</p>

<p>
  <b>Spin folder data b:</b>
  <%= @spin_session.spin_folder_data_B_id %>
</p>

<p>
  <b>Spin groupdata:</b>
  <%= @spin_session.spin_groupdata_id %>
</p>

<p>
  <b>Spin memberdata:</b>
  <%= @spin_session.spin_memberdata_id %>
</p>

<p>
  <b>Spin operatordata:</b>
  <%= @spin_session.spin_operatordata_id %>
</p>

<p>
  <b>Spin recycledata:</b>
  <%= @spin_session.spin_recycledata_id %>
</p>

<p>
  <b>Spin senderdata:</b>
  <%= @spin_session.spin_senderdata_id %>
</p>


<%= link_to 'Edit', edit_spin_session_path(@spin_session) %> |
<%= link_to 'Back', spin_sessions_path %>
