<p id="notice"><%= notice %></p>

<p>
  <b>Spin uid:</b>
  <%= @spin_user_attribute.spin_uid %>
</p>

<p>
  <b>Spin uname:</b>
  <%= @spin_user_attribute.spin_uname %>
</p>

<p>
  <b>Real uname1:</b>
  <%= @spin_user_attribute.real_uname1 %>
</p>

<p>
  <b>Real uname2:</b>
  <%= @spin_user_attribute.real_uname2 %>
</p>

<p>
  <b>Real unamem:</b>
  <%= @spin_user_attribute.real_unameM %>
</p>

<p>
  <b>Mail addr:</b>
  <%= @spin_user_attribute.mail_addr %>
</p>

<p>
  <b>Mail addr2:</b>
  <%= @spin_user_attribute.mail_addr2 %>
</p>

<p>
  <b>Organization1:</b>
  <%= @spin_user_attribute.organization1 %>
</p>

<p>
  <b>Organization2:</b>
  <%= @spin_user_attribute.organization2 %>
</p>

<p>
  <b>Organization3:</b>
  <%= @spin_user_attribute.organization3 %>
</p>

<p>
  <b>Organization4:</b>
  <%= @spin_user_attribute.organization4 %>
</p>

<p>
  <b>Organization5:</b>
  <%= @spin_user_attribute.organization5 %>
</p>

<p>
  <b>Organization6:</b>
  <%= @spin_user_attribute.organization6 %>
</p>

<p>
  <b>Organization8:</b>
  <%= @spin_user_attribute.organization8 %>
</p>

<p>
  <b>Tel country code 1:</b>
  <%= @spin_user_attribute.tel_country_code_1 %>
</p>

<p>
  <b>Tel area code 1:</b>
  <%= @spin_user_attribute.tel_area_code_1 %>
</p>

<p>
  <b>Tel pid code 1:</b>
  <%= @spin_user_attribute.tel_pid_code_1 %>
</p>

<p>
  <b>Tel number 1:</b>
  <%= @spin_user_attribute.tel_number_1 %>
</p>

<p>
  <b>Tel ext 1:</b>
  <%= @spin_user_attribute.tel_ext_1 %>
</p>

<p>
  <b>User attributes:</b>
  <%= @spin_user_attribute.user_attributes %>
</p>

<p>
  <b>Organization7:</b>
  <%= @spin_user_attribute.organization7 %>
</p>


<%= link_to 'Edit', edit_spin_user_attribute_path(@spin_user_attribute) %> |
<%= link_to 'Back', spin_user_attributes_path %>
