<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @member_datum.session_id %>
</p>

<p>
  <b>Hash key:</b>
  <%= @member_datum.hash_key %>
</p>

<p>
  <b>Member:</b>
  <%= @member_datum.member_id %>
</p>

<p>
  <b>Member name:</b>
  <%= @member_datum.member_name %>
</p>

<p>
  <b>Member description:</b>
  <%= @member_datum.member_description %>
</p>

<p>
  <b>Member remark:</b>
  <%= @member_datum.member_remark %>
</p>


<%= link_to 'Edit', edit_member_datum_path(@member_datum) %> |
<%= link_to 'Back', member_data_path %>
